<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="static/style.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sajaukto burtu spēle</title>
  </head>
  <body>
    <div class = "wrapper">
    <h1>Burtu spēle</h1>
    
  <!--  <ul>
      <li>
        <a href="/spele"> spēle </a>
      </li>
      <li>
        <a href="/tops"> tops </a>
      </li>
      <li>
        <a href="/noteikumi">Spēles noteikumi</a>
      </li>
       <li>
        <a href="/par">par</a>
      </li>
    </ul> -->

      <ul>
      <a href="/spele"> spēle </a>
      <a href="/tops"> tops </a>
      <a href="/noteikumi">Spēles noteikumi</a>
      <a href="/par">par</a>
      </ul>
    
    <p>
      Sajaukto burtu spēle palīdzēs Tev attīstīt lasītprasmi un uzmanību, kā arī palielināt vārdu krājumu..
      <br />
      Lai motivētu skolēnus piedalīties spēlē, tajā ir iekļauti draudzīgas
      sacensības elementi, kā piemēram, labāko spēlētāju tops.
    </p>
    <p>Spied uz <a href="/spele"> spēle </a> un sāc meklēt vārdus sajauktajos burtos!</p>
  
    

    
   </div>
    <div class="autors">&copy; A.Z<br>Rīga 2022</div>
  </body>
</html>
